<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"></head>
<body>
<div th:replace="common/navbar :: common-navbar"></div>

<div class="container">

    <div class="jumbotron text-center">

        <h1 th:text="#{noResults.h1.text}"></h1>
        <p class="lead" th:text="#{noResults.p.lead}"></p>
        <a href="/"><span th:text="#{noResults.p.back}"/></a>

    </div>
</div>
<div th:replace="common/header :: before-body-scripts" ></div>
</body>
</html>