<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"></head>
<body>
<div th:replace="common/navbar :: common-navbar"></div>

<div class="container">

    <div class="jumbotron text-center">

        <h1 th:text="#{searchingResults.h1.text}"></h1>

        <!--/*@thymesVar id="connections" type="java.util.List"*/-->
        <div th:if="${connections} != null">
            <ul>
                <!--/*@thymesVar id="connection" type="com.codeyourbest.itraveller.domain.search.persistance.Connection"*/-->
                <li th:each="connection : ${connections}">
                    <a href="#">
                        <span th:text="${connection.fromPlace}"></span>
                        -
                        <span th:text="${connection.toPlace}"></span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div th:replace="common/header :: before-body-scripts" ></div>
</body>
</html>
