<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"></head>
<body>
<div th:replace="common/navbar :: common-navbar"></div>

<div class="container">

    <div class="jumbotron text-center">

        <h1 th:text="#{searchingResults.h1.text}"></h1>

        <div th:if="${connections != null}">
            <p class="lead" th:text="#{searchingResults.p.lead}"></p>
            <ul>
                <li th:each="item : *{connections}" th:text="${item.fromPlace}">Connections found</li>
            </ul>
        </div>

    </div>
</div>
<div th:replace="common/header :: before-body-scripts" ></div>
</body>
</html>
